html,body {
    margin:0;
    padding:0;
    height:100%;
}

/* body {
  margin: 0;
  padding: 0;
} */

h2,
h3 {
  margin: 5px;
  font-size: 1.1em;
}

/* h3 {
  font-size: 1em;
} */

h5 {
  margin:5px;
  font-size: 0.9em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: justify;
}

/**
* Create a position for the map
* on the page */
#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 75%;
}

#menu {
    background: #fff;
    position: fixed;
    z-index: 1;
    top: 5px;
    right: 390px;
    border-radius: 1px;
    width: 14%;
    border: 1px solid rgba(0,0,0,0.4);
    font: bold 12px/20px 'Helvetica Heue', Arial, Helvetica, sans-serif;
    opacity: 0.95;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    /* margin: 0; */
    /* padding: 0; */
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    font:bold 12px/20px 'Helvetica Heue', Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */

.map-overlay2 {
    font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: fixed;
    width: 15%;
    top: 0;
    left: 0;
    padding: 5px;
}

.map-overlay2 .map-overlay-inner {
    background: rgba(255, 255, 255, 0.85);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#slider1 {
  width: 180px
}

.map-overlay2 label {
    display: block;
    margin: 0 0 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


.map-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  margin-right: 27%;
  font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#infobox {
  top: 0;
  left: 1px;
  height: fit-content;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  min-height: 90px;
  margin-top: 5px;
  margin-left: 10px;
  width: 14%;
}

#legend {
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 18px;
  height: auto;
  margin-bottom: 40px;
  margin-right: 390px;
  width: 80px;
  font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#features {
    width: 25%;
    margin-left: 75%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}

section {
    padding:  10px 15px 20px 20px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
    min-height: 75%;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 700px;
}
#part-5S {
    padding:  10px 15px 20px 20px;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

/* a {
  text-decoration: none;
  color: #2dc4b2;
} */

#console {
  position: fixed;
  width: 14%;
  bottom: 0;
  left:0;
  overflow: auto;
  margin-left:10px;
  margin-bottom:40px;
  /* z-index: 1; */
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;

}
.session1 {
margin-bottom: 20px;
}

.row {
height: 12px;
width: 100%;
}

.colors {
background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
margin-bottom: 5px;
}

.label {
width: 15%;
display: inline-block;
text-align: center;
}
